* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    gap: 20px;
}

#data-hora {
    font-weight: bold;
    margin-bottom: 10px;
}

.data-hora {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.formulario-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
select {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.botao {
    font-size: 16px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.cadastrar {
    background-color: rgb(101, 243, 195);
    border-color: rgb(89, 197, 230);
}

.cadastrar:hover {
    background-color: rgb(95, 216, 176);
    border-color: rgb(66, 170, 202);
}

.limpar {
    background-color: rgb(230, 123, 252);
    border-color: rgb(246, 70, 237);
}

.limpar:hover {
    background-color: rgb(225, 98, 250);
    border-color: rgb(250, 42, 240);
}

.novidades {
    display: none;
    padding: 5px;
}

.novidades p {
    margin-bottom: 10px;
}

.novidades .checkbox {
    flex-direction: column;
    gap: 8px;
}

.participante {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

.vip {
    border: 2px solid gold;
    background-color: #fffbea;
}

.convidado {
    border: 2px dashed blue;
    background-color: #eef6ff;
}

.remover {
    background-color: crimson;
    color: white;
    margin-top: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}